.label {
  
  color: green;
  margin-bottom: 0rem;
  font-weight: 700;
  display: flex; /* เพิ่มคำสั่งนี้เพื่อให้เป็นแถวตรง */
  align-items: center;
}

.input-group {
  margin-bottom: 2rem;
}

.label-range {
  margin-bottom: rem;
}

.input-group,
.label-range {
  border-radius: 5px;
  padding: 2rem;
  background-color: #f5f5f5;
}
